@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
    /* color */
    --color-black: #111;
    --color-white: #f2f2f2;
    --color-gray-100: #ddd;
    --color-gray-300: #bbb;
    --color-gray-500: #999;
    --color-accent: #ff6f61;

    /* typography */
    --font-main: "pretendard", sans-serif;

    /* size */
    --header-height: 80px;
    --container-width: 1340px;
    --side-padding: 60px;

    /* transition */
    --transition-basic: 0.3s ease;
}

/* ============================== Reset ============================== */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--color-white);
    background-color: var(--color-black);
    line-height: 1.5;
}

/* ============================== Common ============================== */
a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 0 auto;
}

.icon {
    width: 2rem;
    height: 2rem;
}

/* ============================== Header ============================== */

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-black);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--container-width);
    
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav ul {
    display: flex;
    gap: 5rem;
}

.header .nav ul li {
    font-size: 1rem;
}

/* ============================== Main ============================== */
.main {
    
}

.main .container {
    width: var(--container-width);
    /*padding: 100px var(--side-padding) 0;*/
}


/* ============================== canvas ============================== */
.three-canvas {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-content {
    transition: opacity 0.5s ease;
}

.hero-content, .scroll-hint {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: var(--color-white);
}

.main .upbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 0 0 50% 50%;
    box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.5);
}

.main .downbox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 -0 60px 30px rgba(0, 0, 0, 0.5);
}

.main .d-day {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 1)
}

.main .d-day h1 {
    font-size: 4rem;
    font-weight: bold;
}

.main .info {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.main .info .container {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    gap: 0.5rem;
}

.main .info .textbox {
    text-align: left;
}

.main .info h3 {
    font-size: 1rem;
    font-weight: 800;
}

.main .info h4 {
    font-size: 0.75rem;
    font-weight: 500;
}

.main .info .icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* ============================== Footer ============================== */
.footer {
    background-color: var(--color-black);
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
}

.footer .container {
    width: var(--container-width);
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer .container .footer-info {
    display: column;
    text-align: left;
}

.footer .container .footer-info h3 {
    color: var(--color-white);
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.footer .container .footer-info p {
    color: var(--color-white);
    font-size: 0.5rem;
}

.footer .container .footer-info img {
    margin-bottom: 0.5rem;
}

.footer .container .footer-icons {
    display: flex;
    align-items: end;
    gap: 20px;
}