@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
    /* color */

    color-scheme: dark;

    --color-black: #111;
    --color-black-75: rgba(17, 17, 17, 0.75);
    --color-white: #f2f2f2;
    --color-gray-100: #ddd;
    --color-gray-300: #bbb;
    --color-gray-500: #999;
    --color-accent: #ff6f61;
    --gradient-color: linear-gradient(0deg, 
    rgba(17,17,17,0.9) 0%, 
    rgba(22,22,22,0.7) 20%, 
    rgba(28,28,28,0.5) 40%, 
    rgba(34,34,34,0.3) 60%, 
    rgba(42,42,42,0.15) 80%, 
    rgba(51,51,51,0) 100%);;

    /* typography */
    --font-main: "pretendard", sans-serif;

    /* size */
    --header-height: 60px;
    --container-width: 1220px;
    --side-padding: 60px;

    /* transition */
    --transition-basic: 0.3s ease;
}

[data-theme="light"] {
    --color-black: #ffffff;
    --color-black-75: rgba(255, 255, 255, 0.75);
    --color-white: #111111;
    --color-gray-100: #f5f5f5;
    --color-gray-300: #eeeeee;
    --color-gray-500: #dddddd;
    --color-accent: #ff6f61;
    --gradient-color: linear-gradient(0deg, 
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.7) 20%,
    rgba(255,255,255,0.5) 40%,
    rgba(255,255,255,0.3) 60%,
    rgba(255,255,255,0.15) 80%,
    rgba(255,255,255,0) 100%);
}

/* ============================== Reset ============================== */
html {
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--color-white);
    background-color: var(--color-black);
    line-height: 1.5;
}

html.page-transition-preload body {
    visibility: hidden;
}
/* ============================== Common ============================== */
a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 0 auto;
}

.icon {
    filter: invert(0);
}

[data-theme="light"] .icon {
    filter: invert(1);
}

[hidden] {
  display: none !important;
}

/* ============================== Header ============================== */

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    /*background-color: var(--color-black-75);*/

    background: rgba(255, 255, 255, 0.36);
    backdrop-filter: blur(11.9px);
    -webkit-backdrop-filter: blur(11.9px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--container-width);
    box-sizing: border-box;
    padding: 0;
    
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.header .nav {
    display: flex;
    align-items: center;

    
}

.header .nav ul {
    display: flex;
    gap: 2rem;
}

.header .nav ul li {
    font-size: 0.875rem;
    font-weight: 500;
}

/* ============================== Main ============================== */
.main {
    min-height: 100vh;
}

.main .container {
    width: var(--container-width);
    padding: 100px 0 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    color: var(--color-white);

    margin-top: 2rem;
}

.container .title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .title-section .left-side {
    display: flex;
    flex-direction: start;
    align-items: center;
    gap: 2rem;
}

.container .title-section h1 {
    font-size: 3rem;
    font-weight: 700;
}

.container .title-section .search-bar {
    position: relative;
    width: 276px;
    height: 45px;
}

.container .title-section .search-bar img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);

    width: 1.5rem;
}

.container .title-section input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-gray-500);
    border-radius: 999px;

    background-color: rgba(255, 255, 255, 0.01);
    color: var(--color-white);

    font-size: 1rem;
    font-family: inherit;

    padding: 0 3rem;

    transition: border-color 0.3s ease;

}

.container .title-section input:focus {
    border-color: var(--color-white);
    outline: none;
}

.container .grid-view {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 30px;

    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container .grid-view .filter {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

.container .grid-view .filter button {
    font-size: 0.875rem;
    font-weight: 500;

    color: var(--color-white);
}

.container .grid-view .filter .filter-reset {
    display: flex;
    align-items: center;

    border: 1px solid var(--color-white);
    border-radius: 999px;

    padding: 0 1rem 0 0rem;
    opacity: 0.5;

    margin-top: 2rem;
}

.container .grid-view .content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    column-gap: 30px;
    row-gap: 55px;
}

.container .grid-view .content .card {
    width: 100%;
    aspect-ratio: 384 / 515;
    background-color: var(--color-gray-500);

    border-radius: 10px;
}

/*
.container .slide-view {
    width: 100vw;
    margin-left: calc(50% - 51vw);
    
}

.container .slide-view .content {
    display: flex;

    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    padding-left: max(var(--side-padding),calc((100vw - var(--container-width)) / 2 + var(--side-padding)));

    gap: 2rem;

    scrollbar-width: none;

    margin-top: 3rem;
}

.container .slide-view .card {
    flex: 0 0 900px;
    aspect-ratio: 16 / 9;
    background-color: var(--color-gray-100);

    border-radius: 10px;
}*/

/* ============================== slide view - v2 ============================== */
.container .slide-view {
    width: 100vw;
    height: 100vh;

    position: fixed;
    
    top: 0;
    left: 0;

   z-index: -999;
}

.container .slide-view .content {
    display: flex;

    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    gap: 2rem;

    scrollbar-width: none;
}

.container .slide-view .card {
    aspect-ratio: 16 / 9;
    background-color: rgba(255, 255, 255, 0.01);

    position: absolute;
    width: 100vw;
    height: 100vh;

    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}

.container .slide-view .card.is-active {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
}

/* ============================== slide view일때 css 조절 ============================== */
.container:has(#slideview:not([hidden])) {
    margin: 0 auto;

    width: var(--container-width);
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.container:has(#slideview:not([hidden])) .title-section {
    margin: 0;
    padding: 0;

    margin-top: auto;
    margin-bottom: 1.875rem;
}

.container:has(#slideview:not([hidden])) .title-section .left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 1rem;

    margin-left: 0;
}

.container:has(#slideview:not([hidden])) .title-section h1 {
    display: flex;

    line-height: 1;
}

.worker {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-white);
    line-height: 1.4;

    display: none;
}

.container:has(#slideview:not([hidden])) .worker {
    display: flex;
    align-items: end;

    margin-left: 1.15rem;
}

.slide-description {
    display: none;
}

.container:has(#slideview:not([hidden])) .slide-description {
    margin: 0;
    padding: 0;

    display: block;

    margin-bottom: 5rem;

    font-size: 0.875rem;
    font-weight: 300;
}

.container:has(#slideview:not([hidden])) .title-section input {
    border: 1px solid var(--color-black);
}

.container:has(#slideview:not([hidden])) .title-section input::placeholder {
    color: var(--color-white);
}

.container:has(#slideview:not([hidden])) .gradient {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background: var(--gradient-color);

    position: fixed;

    top: 0;
    left: 0;

    z-index: -1;

    pointer-events: none;
}

.container:has(#slideview:not([hidden])) .content .card {
    background-repeat: no-repeat;
    background-size: cover;
}


body:has(#slideview:not([hidden])) .footer {
    display: none;
}

/* ============================== 페이지 진입 요소 ============================== */

.page-enter-up {
    opacity: 0;
    transform: translateY(20px);

    transition:
        opacity 700ms ease,
        transform 700ms cubic-bezier(.22, 1, .36, 1);
}

.page-enter-up.is-show {
    opacity: 1;
    transform: translateY(0);
}


/* Typewriter는 실행 전까지 숨김 */
[typewriter-effect][typewriter-trigger="manual"] {
    visibility: hidden;
}


/* 타이핑 시작 직전에 표시 */
[typewriter-effect][typewriter-trigger="manual"].is-typing {
    visibility: visible;
}


/* ============================== button ============================== */
.view-buttons {
    display: flex;
    gap: 8px;
}

.view-buttons button {
    color: var(--color-white);
    text-align: center;

    display: flex;
    align-items: center;

    border: 1px solid var(--color-gray-500);
    border-radius: 999px;

    padding: 0.1rem;

    cursor: pointer;
}

.container:has(#slideview:not([hidden])) .view-buttons button {
    border: 1px solid var(--color-black);
}




/* ============================== Footer ============================== */
.footer {
    background-color: var(--color-black);
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    width: var(--container-width);
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer .container .footer-info {
    display: column;
    text-align: left;
}

.footer .container .footer-info h3 {
    color: var(--color-white);
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.footer .container .footer-info p {
    color: var(--color-white);
    font-size: 0.5rem;
}

.footer .container .footer-info img {
    margin-bottom: 0.5rem;
}

.footer .container .footer-icons {
    display: flex;
    align-items: end;
    gap: 20px;
}

.footer .container .footer-icons .icon {
    width: 2rem;
    height: 2rem;
}